	
	<!DOCTYPE html>
		<html lang="en"> 
			<head>
				<title>My Online Store</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
				<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script type="text/javascript" src="/layout/login.js"></script>
				<script type="text/javascript" src="../app.js"></script>
			</head>

			<body>

				<div class="page-header">
					<h2>My Online Store</h2>
				</div>

				<div class="col-md-4 col-md-offset-4 main">

					<div id="login">
						<form method="post"> 
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input id="loginUsername" type="text" class="form-control" name="email" placeholder="username">
							</div>

							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input id="loginPassword" type="password" class="form-control" name="password" placeholder="password">
							</div>

							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-default" id= "loginBtn">LOGIN</button>
							</div>
						</form>

						</br>
						<div class="linkpost" id="linkSignup">
							<p>Signup</p>
						</div>
					</div>

					<div id="signup">
						<form method="post"> 
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								<input id="signupUsername" type="text" class="form-control" name="username" placeholder="username">
							</div>

							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input id="signupEmail" type="text" class="form-control" name="email" placeholder="myexample@example.com">
							</div>

							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input id="signupPassword" type="password" class="form-control" name="password" placeholder="password">
							</div>

							<div class="col-md-6 col-md-offset-4">
								<button class="btn btn-default" id="signupBtn">SIGNUP</button>
							</div>
						</form>

						</br>
						<div class="linkpost" id="linkLogin">
							<p>Login</p>
						</div>
					</div>

				</div>

			</body>
		</html>