	
	<!DOCTYPE html>
		<html> 
			<head>
				<title>My Online Store</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
				<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
				<script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script type="text/javascript" src="/layout/managestore.js"></script>
				<script type="text/javascript" src="../app.js"></script>
			</head>

			<body>
				<div class="page-header">
					<h2 id="headerText"></h2>
					<div class="manageStroreNav" id="signout">  
						Log out
					</div>
					<div class="manageStroreNav" id="viewProduct">  
						View Products
					</div>
					<div class="manageStroreNav" id="addProduct">
						Add Product
					</div>
				</div>

				<div class="container-fluid page-body-ms" id="managestoreMain">
					<div id="shareurl"></div>
					<img src="/images/shareurl.PNG" alt="shareurl" class="urlIcon" />

					<div id="divViewProduct"></div>	

					<div class="col col-md-offset-4 col-md-4" id="divAddProduct">
						<div class="errorMessage" id="errorDiv"></div>
						<div class="toBlue" id="successDiv"></div>

						<label for="productName">Product Name:</label>
						<input id="productName" type="text" class="form-control addProduct" 		name="productname" placeholder="product name">

						<label for="productPrice">Product Price:</label>
						<input id="productPrice" type="number" min="0" class="form-control addProduct" name="productprice" placeholder="10">

						<label for="productStock">Stock:</label>
						<input id="productStock" type="number" min="0" class="form-control addProduct" name="productstock" placeholder="5">

						<label for="productCat">Category:</label>
						<select class="form-control addProduct" id="productCat">
							<option>Phone</option>
							<option>Produce</option>
							<option>Weavons</option>
							<option>Female accessories</option>
							<option>Male accessories</option>
							<option>Trouser</option>
							<option>Pasta</option>
							<option>Books</option>
							<option>Shirts</option>
							<option>Car</option>
							<option>Shoes</option>
							<option>Wrist-watches</option>
							<option>Others</option>
						</select>

						<!--<div class="fileupload fileupload-new" data-provides="fileupload">
							<div>
								<div>
									<label>Select Image</label>
									<input type="file" id="imageToUpload" />
								</div> 
							</div>
						</div>-->

						<div class="col-md-6 col-md-offset-4 btnProductadd">
							<button class="btn btn-default" id="productaddBtn">ADD</button>
						</div>
					</div>
				</div>
			</body>
		</html>