
	* {
		font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
		margin-top: 0px !important; 
		padding-top: 0px !important;
		padding-right: 0px !important;
		margin-bottom: 0px !important;
		/*margin-left: 0px !important;
		margin-right: 0px !important;	
		padding-left: 0px !important;
		padding-bottom: 0px !important; */
	}

	.page-header {
		padding-top: 40px !important;
		padding-left: 30px !important;
		height: 100px !important;
	}

	.main {
		border-style: solid;
		border-color: #f0f5f5;
		border-width: 2px;
		margin-top: 8% !important;
		padding: 3% !important;
	}

	.input-group {
		margin-bottom: 8% !important;
	}

	.linkpost {
		margin-top: 7% !important;
		display: block;
		color: #4d4dff;
		cursor: pointer;
	}

	.notValid {
		border-style: solid;
		border-color: #f44242;
		border-width: 2px;
	}

	.displayProduct {
		width: 25%;
		height: 100px;
		float: left;
		margin: 5% !important;
	}

	.manageStroreNav {
		float: right;
		width: 10%;
		margin-right: 4% !important;
		cursor: pointer;
	}

	.addProduct {
		margin-bottom: 5% !important;
	}

	.btnProductadd {
		margin-top: 15% !important;
		height: 10px !important;
	}

	.toViewProduct {
		width: 20% !important;
		height: 200px !important;
		margin: 2% !important;
		margin-bottom: 2% !important;
		padding: 1% !important;
		text-align: center;
	}

	.productImage {
		height: 120px;
		width: 100%;
	}

	.priceHolder {
		border-radius: 30% !important;
		background-color: greenyellow;
		width: 40%;
		height: 25px;
		text-align: center;
		margin: 5% !important;
	}

	#shareurl {
		color: blue;
		float: right;
		margin-right: 5%;
		margin-top: 1% !important;
	}

	#signout {
		width: 5% !important;
	}

	#divViewProduct {
		padding: 5% !important;
		height: 100% !important;
		margin-right: 10px !important;
		margin-left: 10px !important;
	}

	#divAddProduct {
		padding: 5% !important;
	}

	

	