
	* {
		font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
		margin-top: 0px !important; 
		padding-top: 0px !important;
		padding-right: 0px !important;
		margin-bottom: 0px !important;
		/*margin-left: 0px !important;
		margin-right: 0px !important;	
		padding-left: 0px !important;
		padding-bottom: 0px !important; */
	}

	.page-header {
		padding-top: 40px !important;
		padding-left: 30px !important;
		height: 100px !important;
	}

	.main {
		border-style: solid;
		border-color: #f0f5f5;
		border-width: 2px;
		margin-top: 8% !important;
		padding: 3% !important;
	}

	.input-group {
		margin-bottom: 8% !important;
	}

	.linkpost {
		margin-top: 7% !important;
		display: block;
		color: #4d4dff;
		cursor: pointer;
	}

	.notValid {
		border-style: solid;
		border-color: #f44242;
		border-width: 2px;
	}

	.displayProduct {
		width: 25%;
		height: 100px;
		float: left;
		margin: 5% !important;
	}

	.manageStroreNav {
		float: right;
		width: 10%;
		margin-right: 4% !important;
		cursor: pointer;
	}